/*css - style.css*/

#wrapper{width: 80%;
margin-left:auto;
margin-right:auto;
border: 2px;
border-style: solid;
border-color: #cccccc;     
}
p {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: normal;
}
p {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
p {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    }
    /*NAVIGATION*/
    #navbar {list-style: none;
        margin: 5px;
        padding: 5px; }
   
    #navbar li{
                float: left;}
           

    #navbar li a {
                    display: block;
                  width: 100px;
                  font: bold 18px "playfair display";
                  background: #ccc;
                  padding: 5px;
                  color: #000;
                  text-decoration:none;
                  }